---
const year = new Date().getFullYear();
---

<footer class="flex">
  &copy; {year}. Made with &lt;3 by <a href="https://solivan.dev">Danny</a>.
</footer>

<style>
  footer {
    padding-top: 4.5rem;
  }
</style>
